@font-face {
    font-family: "gilroy";
    src:
            url("../fonts/Gilroy-Extrabold.woff2") format("woff2"),
            url("../fonts/Gilroy-Extrabold.woff") format("woff"),
            url("../fonts/Gilroy-Extrabold.ttf") format("truetype");
    font-weight: 800;
}
body {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: "gilroy", "Open Sans", sans-serif;
    color: #464646;
    line-height: 30px;
}
.visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    border: 0;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
ol , li {
    list-style: none;
}

ol, ul {
  margin: 0;
  padding: 0;
}

.container {
    width: 1160px;
    padding-left: auto;
    padding-right: auto;
}
.promo {
  display: flex;
  justify-content: center;
}
.promo-list {
  display: flex;
  justify-content: space-between;
  width: 1010px;
  height: 486px;
  padding-left: 90px;
  padding-right: auto;
}
.promo-block {
  position: absolute;
  display: flex;
}
.promo-line {
    width: 100px;
    height: 7px;
    background: #ffffff;
}
.promo-number {
  width: 166px;
  height: 131px;
  color: #ffffff;
  font-family: "gilroy", sans-serif;
  font-size: 179px;
  font-weight: 400;
  line-height: 179.2px;
  letter-spacing: 0.36px;
  position: absolute;
}
.promo-title {
    width: 394px;
    height: 98px;
    color: #000000;
    font-family: "gilroy", sans-serif;
    font-size: 47px;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: 0.17px;
}
.promo-text {
    width: 479px;
    height: 46px;
    color: #464646;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0.15px;
}
.button {
    width: 133px;
    height: 15px;
    color: #000000;
    font-family: "gilroy", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 2.15px;
}
.info-table {
    width: 78px;
    height: 11px;
    color: #464646;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.13px;
}
.info-table__big {
    font-family: "gilroy", sans-serif;
    font-size: 36px;
    font-weight: 300;
    line-height: 48px;
    letter-spacing: 0.36px;
}





.container {
    width: 1160px;
    padding-left: auto;
    padding-right: auto;
}
.category {
    display: flex;
    justify-content: center;
}
.category-items {
  display: flex;
  justify-content: space-between;
  padding: 100px 0 0 0;
}
.category-list {
  width: 160px;
}
.category-icon {
  display: block;
  width: 160px;
  height: 160px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(240, 197, 46, 0.5);
}
.category-icon--vr {
  background-image: url("../img/svg-device/popular-1.svg");
}
.category-icon--selfy {
  background-image: url("../img/svg-device/popular-2.svg");
}
.category-icon--camera {
  background-image: url("../img/svg-device/popular-3.svg");
}
.category-icon--bracelet {
  background-image: url("../img/svg-device/popular-4.svg");
}
.category-icon--watch {
  background-image: url("../img/svg-device/popular-5.svg");
}
.category-icon--quadro {
  background-image: url("../img/svg-device/popular-6.svg");
}
.category-text {
    display: block;
    margin-top: 40px;
    width: 157px;
    height: 16px;
    color: #000000;
    font-family: "gilroy", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.18px;
}

.partners {
    display: flex;
    justify-content: center;
}
.partners-items {
    display: flex;
    justify-content: space-between;
    padding: 94px 0 0 0;
}
.partners-list {
    font-size: 0;
}
.partners-icon {
    display: block;
    width: 260px;
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
}
.partners-icon--dji {
  background-image: url("../img/logo-1.png");
}
.partners-icon--spgadgets {
  background-image: url("../img/logo-2.png");
}
.partners-icon--gopro {
  background-image: url("../img/logo-3.png");
}
.partners-icon--vive {
  background-image: url("../img/logo-4.png");
}
